body {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F793548396839850059%2F&psig=AOvVaw2qne-KxWe0elrj1mMv324V&ust=1625172638245000&source=images&cd=vfe&ved=0CAoQjRxqFwoTCPDbzYeewPECFQAAAAAdAAAAABAD");
}
